.login-card{
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 0 auto;
    height: 100%;
    width: 450px;
    padding: 1rem;
    .login-card__container{
        flex: 1;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border: 2px solid red;
    }
    .login-card__additional{
        margin-top: 1.5rem;
        text-align: center;
        width: 100%;
        .login-card__copyright{
            font-size: 15px;
            font-weight: 600;
            color: #ffffff;
            margin-bottom: 0.5rem;
        }
        .login-card__links{
            font-size: 15px;
            color: #ffffff;
            font-weight: 600;
            margin-bottom: 0.5rem;

        }
        .login-card__note{
            font-size: 15px;
            color: #ffffff;
            font-weight: 500;
        }
    }
}