.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  .header {
    display: flex;
    align-items: center;
    gap: 1rem;
    .iconWrapper {
      width: 4rem;
      height: 4rem;
      background-color: white;
      border-radius: 0.75rem; /* arredondado como na imagem */
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      /* icon style: azul preenchido centralizado */
      svg {
        width: 4.2rem;
        height: 3.2rem;
        color: #217aff; /* cor do coração */
        fill: currentColor; /* torna o ícone preenchido usando currentColor */
        stroke: none; /* remove traço caso o ícone seja outline */
      }
    }
    .text {
      color: white;
      .title {
        font-size: 2.5rem;
        margin: 0;
      }
      .subtitle {
        font-size: 1rem;
        opacity: 0.8;
        margin: 0;
      }
    }
  }
}
