.root {
  width: 100%;
  padding: 20px;
}

.layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  height: 100vh;
  gap: 2.25rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

@media (max-width: 980px) {
  .layout {
    grid-template-columns: 1fr;
  }
}
